.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

.btn.btn__reverse {
  background-color: #333;
  color: #fff;
}

.btn.btn__reverse:hover {
  background-color: transparent;
  color: #333;
}

.btn.btn__brown {
  color: #592b18;
}

.btn.btn__brown:hover {
  background-color: #592b18;
  color: #fff;
}

.btn.btn__gold {
  background-color: #d9aa8a;
  color: #d9aa8a;
}

.btn.btn__gold:hover {
  background-color: #d9aa8a;
  color: #fff;
}

.btn.btn__white {
  background-color: #fff;
  color: #fff;
}

.btn.btn__white:hover {
  background-color: #fff;
  color: #333;
}
